.row
  %h3.center.col.s12 Forgot your password?
  .row
    .col.l6.offset-l3.m8.offset-m2
      .card-panel.hoverable
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .actions.center
            = f.submit "Send me reset password instructions", class: 'btn waves-effect waves-light'
      .center
        = render "devise/shared/links"
